{% extends 'base.html' %}
{% block title %} Galarey {% endblock title %}
{% block content %}
    <div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for foo in photo %}
        <div class="col-9">
        <div class="card">
          <img class="card-img-top" src="{{ foo.img.url }}"  alt="rasm u">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'detail' foo.pk %}">{{ foo.title }}</a></h5>
            <p class="card-text">{{ foo.description }}</p>
              <p class="card-text">{{ foo.category }}</p>
              <a class="btn btn-primary" href="{% url 'detail' foo.pk %}">Batafsil</a>
          </div>
        </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock content %}
